.f-en {
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

.f-12 {
  font-size: 12px; }

.f-14 {
  font-size: 14px; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-22 {
  font-size: 22px; }

.f-24 {
  font-size: 24px; }

.f-28 {
  font-size: 28px; }

.fw700 {
  font-weight: 700; }

.fw600 {
  font-weight: 600; }

.fw400 {
  font-weight: 400; }

.f-title_big {
  font-weight: 700; }
  @media screen and (min-width: 1441px) {
    .f-title_big {
      font-size: 56px; } }
  @media screen and (max-width: 1440px) {
    .f-title_big {
      font-size: 49.28px; } }
  @media screen and (max-width: 600px) {
    .f-title_big {
      font-size: 35.55556px; } }

.f-title_l {
  font-weight: 700; }
  @media screen and (min-width: 992px) {
    .f-title_l {
      font-size: 53.33333px; } }
  @media screen and (max-width: 991px) {
    .f-title_l {
      font-size: 42.66667px; } }
  @media screen and (max-width: 600px) {
    .f-title_l {
      font-size: 35.55556px; } }

.f-title_ml {
  font-weight: 700; }
  @media screen and (min-width: 992px) {
    .f-title_ml {
      font-size: 49.77778px; } }
  @media screen and (max-width: 991px) {
    .f-title_ml {
      font-size: 20px; } }
  @media screen and (max-width: 600px) {
    .f-title_ml {
      font-size: 24px; } }

.f-title_m {
  font-weight: 700; }
  @media screen and (min-width: 992px) {
    .f-title_m {
      font-size: 35.55556px; } }
  @media screen and (max-width: 991px) {
    .f-title_m {
      font-size: 32.0px; } }
  @media screen and (max-width: 600px) {
    .f-title_m {
      font-size: 21.33333px; } }

@media screen and (min-width: 992px) {
  .f-title_s {
    font-size: 32px; } }

@media screen and (max-width: 991px) {
  .f-title_s {
    font-size: 28.8px; } }

@media screen and (min-width: 992px) {
  .f-title_xs {
    font-size: 28.8px; } }

@media screen and (max-width: 991px) {
  .f-title_xs {
    font-size: 18px; } }

.f-subTitle_l {
  font-style: normal; }
  @media screen and (min-width: 1200px) {
    .f-subTitle_l {
      font-size: 23.11111px; } }
  @media screen and (max-width: 1199px) {
    .f-subTitle_l {
      font-size: 20.8px; } }

.f-subTitle {
  font-style: normal; }
  @media screen and (min-width: 992px) {
    .f-subTitle {
      font-size: 21.33333px; } }
  @media screen and (max-width: 991px) {
    .f-subTitle {
      font-size: 17.77778px; } }

.f-text {
  font-size: 16px; }

.t-center {
  text-align: center; }

.coloritem.gary {
  background-color: #606060; }

.coloritem.blue-1 {
  background-color: #9AB9F5; }

.coloritem.blue-2 {
  background-color: #4680ED; }

.coloritem.blue-3 {
  background-color: #0251E6; }

.coloritem.orange-1 {
  background-color: #FFD087; }

.coloritem.orange-2 {
  background-color: #FFAE2E; }

.coloritem.orange-3 {
  background-color: #FF9C01; }
