@media screen and (max-width: 766px) {
  .w50 {
    width: 100%; } }

@media screen and (max-width: 766px) {
  .l-half .l-half_w33, .l-half .l-half_w67 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media screen and (min-width: 1441px) {
  #houseinfo {
    margin-top: 99px !important; } }

.houseinfo-paper {
  background-color: #fff;
  margin: 15px 40px 0;
  font-size: 16px;
  margin-top: 100px;
  padding: 2.5%; }
  .houseinfo-paper > .left {
    width: 400px;
    height: 100%; }
    .houseinfo-paper > .left .price_note {
      font-size: 13px;
      margin-left: 5px; }
  .houseinfo-paper > .right {
    width: calc(100% - 420px);
    margin-left: 420px;
    position: relative; }
  .houseinfo-paper.scroll > .right {
    margin-top: 60px; }
  .houseinfo-paper.scroll .top-head {
    height: 0; }
  @media screen and (min-width: 1200px) {
    .houseinfo-paper {
      position: fixed;
      width: calc(100% - 80px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 90vh;
      -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
              box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
      height: 90vh;
      padding: 40px 40px 0;
      padding-right: 0; }
      .houseinfo-paper > .left {
        position: fixed;
        min-width: 400px; }
        .houseinfo-paper > .left .myscrollbar {
          height: 62vh;
          overflow-y: auto; }
      .houseinfo-paper > .right {
        height: 100%; } }
  @media screen and (max-width: 1440px) {
    .houseinfo-paper > .left .detail-price {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .houseinfo-paper > .left .detail-price > * {
        width: 100%; }
        .houseinfo-paper > .left .detail-price > *:first-child {
          border: none;
          border-bottom: 1px solid #DDD; } }
  @media screen and (max-width: 1199px) {
    .houseinfo-paper {
      display: block;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      margin: 100px 0 0; }
      .houseinfo-paper > .left, .houseinfo-paper > .right {
        width: 100%; }
      .houseinfo-paper > .left {
        height: auto;
        min-width: none; }
        .houseinfo-paper > .left .detail-price {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
      .houseinfo-paper > .right {
        height: auto;
        padding-bottom: 50px;
        margin-left: 0; } }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .houseinfo-paper {
      position: relative; }
      .houseinfo-paper > .left .total-price {
        margin-top: 10px; }
        .houseinfo-paper > .left .total-price .left {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .houseinfo-paper > .right {
        position: static; } }
  @media screen and (max-width: 991px) {
    .houseinfo-paper {
      margin: 76px 0 0 !important; } }
  @media screen and (max-width: 766px) {
    .houseinfo-paper {
      margin-top: 56px !important; } }
  @media screen and (max-width: 600px) {
    .houseinfo-paper > .left .detail-price {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 766px) {
    .houseinfo-paper {
      font-size: 15px; } }

.houseinfo-scrollbar {
  height: calc(90vh - 200px);
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 1441px) {
    .houseinfo-scrollbar {
      height: calc(90vh - 220px);
      overflow-x: hidden;
      overflow-y: auto; }
      .houseinfo-scrollbar > * {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
  @media screen and (max-width: 1199px) {
    .houseinfo-scrollbar {
      height: auto; } }

.houseinfo-pixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 50; }
  .houseinfo-pixed .houseinfo-pixed-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #0050E6;
    color: #FFF;
    -webkit-transition: color .25s ease-in-out,background .25s ease-in-out;
    transition: color .25s ease-in-out,background .25s ease-in-out; }
    .houseinfo-pixed .houseinfo-pixed-btn i {
      font-size: 18px; }
    .houseinfo-pixed .houseinfo-pixed-btn.border {
      background-color: #fff;
      border-color: #0050E6;
      color: #0050E6; }
  @media screen and (min-width: 1200px) {
    .houseinfo-pixed .houseinfo-pixed-btn:hover {
      background-color: #fff;
      border-color: #0050E6;
      color: #0050E6; }
    .houseinfo-pixed .houseinfo-pixed-btn.border:hover {
      background-color: #0050E6;
      color: #FFF; } }
  @media screen and (max-width: 1440px) {
    .houseinfo-pixed .houseinfo-pixed-btn {
      font-size: 15px;
      padding: 0 3px; }
      .houseinfo-pixed .houseinfo-pixed-btn i {
        font-size: 15px; } }
  @media screen and (max-width: 766px) {
    .houseinfo-pixed {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      right: 0;
      bottom: 0; }
      .houseinfo-pixed .houseinfo-pixed-btn {
        width: calc(100vw / 7);
        border-radius: 0;
        margin-bottom: 0;
        background-color: #ffffff;
        color: #0050E6;
        padding: 0 5px; }
        .houseinfo-pixed .houseinfo-pixed-btn.border {
          border: none;
          border-right: 1px solid #DDD; } }

.btn-fillet50 {
  padding: 6px 10px; }

.houseinfo-head .title {
  font-size: 28px;
  max-height: 82px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.houseinfo-head.fixed {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 40px; }
  .houseinfo-head.fixed * {
    display: none; }
  .houseinfo-head.fixed .title {
    display: block;
    font-size: 20px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

@media screen and (max-width: 1440px) {
  .houseinfo-head .title {
    font-size: 25px; } }

@media screen and (max-width: 1199px) {
  .houseinfo-head .title {
    font-size: 24px; } }

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .houseinfo-head .title {
    width: calc(100% - 145px); } }

@media screen and (max-width: 991px) {
  .houseinfo-head.fixed {
    padding: 10px 30px; } }

@media screen and (max-width: 766px) {
  .houseinfo-head.fixed {
    padding: 10px 20px; } }

.houseinfo-price {
  margin-bottom: 0; }
  .houseinfo-price .left {
    font-size: 15px; }
  .houseinfo-price .label, .houseinfo-price .sub-label {
    font-weight: 500; }
  .houseinfo-price .sub-label {
    color: #404040;
    margin-left: 30px; }
  .houseinfo-price .bigprice {
    font-size: 24px;
    font-weight: 500; }
  .houseinfo-price .cube_price {
    margin-top: 10px; }
    .houseinfo-price .cube_price .icon {
      width: 56px;
      height: 36px; }
    .houseinfo-price .cube_price .num {
      font-weight: 500;
      font-size: 24px; }
    .houseinfo-price .cube_price .num + span {
      margin-top: 10px;
      margin-left: 5px; }
  @media screen and (min-width: 1200px) {
    .houseinfo-price .cube_price .icon {
      width: 46px;
      height: 30px; } }
  @media screen and (min-width: 992px) {
    .houseinfo-price .cube_price {
      margin-top: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .houseinfo-price .cube_price .icon {
        margin-bottom: 2px; } }
  @media screen and (max-width: 1440px) {
    .houseinfo-price {
      margin-top: 15px; } }
  @media screen and (max-width: 766px) {
    .houseinfo-price .cube_price {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .houseinfo-price .cube_price .icon {
        width: 46px;
        height: 30px; }
      .houseinfo-price .cube_price .num {
        font-size: 20px; } }

.houseinfo-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px 14px;
  padding: 12px 0;
  border-bottom: 1px solid #DDD; }
  .houseinfo-tab a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: rgba(237, 237, 237, 0.66);
    color: #404040;
    margin: 5px; }
  .houseinfo-tab .houseinfo-tabtoggle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(237, 237, 237, 0.66);
    color: #404040;
    border: none; }
  .houseinfo-tab .houseinfo-tabhide {
    display: none;
    padding: 8px 0 0;
    border-radius: 0; }
  @media screen and (min-width: 1200px) {
    .houseinfo-tab a:hover, .houseinfo-tab .houseinfo-tabtoggle:hover {
      color: #0050E6; } }
  @media screen and (max-width: 1440px) {
    .houseinfo-tab {
      margin: 0 0 14px; }
      .houseinfo-tab a {
        font-size: 13px;
        padding: 5px; } }

.other-housepage > div {
  font-weight: 500; }

.top-head {
  background-color: #fff; }
  .top-head > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #DDD;
    height: 41px; }
  @media screen and (min-width: 1681px) {
    .top-head {
      width: calc((100% - 80px) - 490px);
      padding-top: 2.5%;
      padding-right: 75px;
      top: 98px; } }
  @media screen and (min-width: 1200px) {
    .top-head {
      position: fixed;
      right: 40px;
      padding-left: 38px;
      z-index: 50; } }
  @media screen and (max-width: 1680px) {
    .top-head {
      width: calc((100% - 80px) - 452px);
      padding-top: 48px;
      padding-right: 45px;
      top: 98px; } }
  @media screen and (max-width: 1440px) {
    .top-head {
      top: 88px;
      padding-top: 40px; } }
  @media screen and (max-width: 1199px) {
    .top-head {
      width: 100%;
      padding: 0; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .top-head {
      height: 60px; } }
  @media screen and (min-width: 767px) and (max-width: 991px) {
    .top-head {
      height: 39px; } }
  @media screen and (max-width: 991px) {
    .top-head {
      padding-right: 0; } }

.houseinfo-nav {
  list-style: none; }
  .houseinfo-nav li {
    font-size: 15px;
    margin-right: 10px;
    display: inline-block;
    z-index: 20; }
    .houseinfo-nav li.active {
      color: #0050E6; }
      .houseinfo-nav li.active a {
        color: #0050E6;
        border-color: #0050E6; }
    .houseinfo-nav li i.icon {
      font-size: 18px;
      margin-right: 5px; }
    .houseinfo-nav li a {
      border-bottom: 2px solid transparent;
      padding-bottom: 13px; }
  .houseinfo-nav.fixed {
    position: fixed;
    z-index: 9999;
    top: 50px;
    left: 0;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%; }
    .houseinfo-nav.fixed li a {
      padding: 6px 0; }
      .houseinfo-nav.fixed li a .icon {
        display: none; }
  @media screen and (max-width: 1680px) {
    .houseinfo-nav li {
      font-size: 15px;
      margin-right: 10px; }
      .houseinfo-nav li a {
        padding-top: 6px;
        padding-bottom: 14px; } }
  @media screen and (max-width: 1440px) {
    .houseinfo-nav li {
      margin-right: 5px; } }
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    .houseinfo-nav li {
      font-size: 14px;
      margin-top: 8px; }
      .houseinfo-nav li a {
        padding-bottom: 10px; }
      .houseinfo-nav li i.icon {
        font-size: 15px;
        margin-right: 0 !important; } }
  @media screen and (max-width: 1199px) {
    .houseinfo-nav {
      width: 100%;
      padding-bottom: 12px; }
      .houseinfo-nav.fixed {
        padding: 5px 0 8px; }
        .houseinfo-nav.fixed li {
          text-align: center; } }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .houseinfo-nav {
      margin-top: 20px; }
      .houseinfo-nav li {
        width: calc((100% / 6) - 15px);
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .houseinfo-nav li:last-child {
          margin-right: 0; }
      .houseinfo-nav.fixed {
        margin-top: 0; } }
  @media screen and (max-width: 766px) {
    .houseinfo-nav {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 0;
      padding-top: 0; }
      .houseinfo-nav li {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .houseinfo-nav li:last-child {
          margin-right: 0; }
        .houseinfo-nav li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
      .houseinfo-nav.fixed {
        padding-bottom: 0; } }

.file-toggleBox {
  position: relative; }
  .file-toggleBox:hover .file-toggleNav {
    display: block; }

.file-toggleNav {
  display: none;
  position: absolute;
  left: 0; }
  .file-toggleNav .file-btn {
    border: none !important;
    border-bottom: 1px solid #DDD !important; }
    .file-toggleNav .file-btn:last-child {
      border: none; }
  @media screen and (max-width: 766px) {
    .file-toggleNav {
      bottom: 100%; } }

.file-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .file-nav .file-btn, .file-nav .file-toggle {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #F3F3F3;
    color: #606060;
    padding: 0 6px;
    -webkit-transition: color .25s;
    transition: color .25s;
    border-right: 1px solid #DDD; }
    .file-nav .file-btn i::before, .file-nav .file-toggle i::before {
      margin: 0; }
    .file-nav .file-btn i.icon.icon-save-as, .file-nav .file-toggle i.icon.icon-save-as {
      padding-left: 5px; }
    .file-nav .file-btn i.icon-export, .file-nav .file-toggle i.icon-export {
      font-size: 20px !important; }
  .file-nav li:last-child .file-btn {
    border: none; }
  .file-nav .icon {
    font-size: 24px; }
  @media screen and (min-width: 1200px) {
    .file-nav .file-btn:hover {
      color: #0050E6; } }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .file-nav {
      position: absolute;
      right: 0;
      top: 0; } }
  @media screen and (max-width: 766px) {
    .file-nav {
      position: fixed;
      bottom: 0;
      z-index: 99;
      left: 0; }
      .file-nav .file-btn, .file-nav .file-toggle {
        width: calc(100vw / 7);
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.detail-btn {
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  background-color: #F3F3F3;
  color: #606060;
  border-radius: 10px;
  padding: 2px 0;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out; }
  .detail-btn i {
    display: inline-block;
    -webkit-transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
  .detail-btn.active {
    border-radius: 10px 10px 0 0; }
    .detail-btn.active i {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  @media screen and (min-width: 1441px) {
    .detail-btn {
      display: none; } }
  @media screen and (min-width: 1200px) {
    .detail-btn:hover {
      background-color: #ffffff; } }
  @media screen and (max-width: 1199px) {
    .detail-btn {
      margin-top: 5px; } }

.houseinfo-inner {
  margin-top: 50px;
  padding: 0 0 0 10px; }
  .houseinfo-inner iframe {
    width: 100%; }
  @media screen and (min-width: 1681px) {
    .houseinfo-inner {
      margin-top: 30px; } }
  @media screen and (max-width: 1680px) {
    .houseinfo-inner {
      padding: 0; } }
  @media screen and (max-width: 1199px) {
    .houseinfo-inner {
      width: calc(100% + 5%);
      margin: 0 -2.5%; } }
  @media screen and (max-width: 1199px) {
    .houseinfo-inner {
      margin-top: 0;
      padding: 0; } }

#recommend_1 .paperblock, #recommend_2 .paperblock, #recommend_3 .paperblock {
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important; }

#recommend_1 .block, #recommend_2 .block, #recommend_3 .block {
  -webkit-box-shadow: 0 5px 20px #DBE4FF;
          box-shadow: 0 5px 20px #DBE4FF; }

@media screen and (max-width: 991px) {
  #recommend_1 .block, #recommend_2 .block, #recommend_3 .block {
    margin: 10px; } }

#house-note .star {
  cursor: pointer;
  color: #909090;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }
  #house-note .star.active {
    color: #0050E6; }

#house-note .check-inner {
  display: inline-block;
  margin: 10px -10px; }
  #house-note .check-inner .check-btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 10px;
    min-width: 120px;
    text-align: center;
    color: #404040;
    margin: 10px;
    -webkit-transition: background .25s;
    transition: background .25s; }
    #house-note .check-inner .check-btn.active {
      border-color: #0050E6 !important;
      background-color: #0050E6 !important;
      color: #FFF; }
  @media screen and (max-width: 1440px) {
    #house-note .check-inner .check-btn {
      margin: 6px 6px;
      padding: 6px; } }
  @media screen and (min-width: 1200px) {
    #house-note .check-inner .check-btn:hover {
      background-color: rgba(0, 80, 230, 0.2); } }
  @media screen and (max-width: 766px) {
    #house-note .check-inner {
      margin: 0 -5px; }
      #house-note .check-inner .check-btn {
        font-size: 15px;
        width: calc(33% - 10px);
        margin: 8px 5px;
        min-width: auto;
        padding: 8px 5px; } }

@media screen and (max-width: 1199px) {
  .myFinalPrice {
    margin-top: 20px; }
    .myFinalPrice input {
      min-width: 160px; } }

@media screen and (max-width: 766px) {
  .myFinalPrice {
    margin-right: 0; }
    .myFinalPrice input {
      min-width: 150px; } }

#house-obj-img .houseimg-section {
  margin-top: 20px; }
  #house-obj-img .houseimg-section .title {
    font-size: 20px; }

#house-obj-img .houseimg-itemRow {
  margin: 0 -10px;
  width: calc(100% + 20px); }

#house-obj-img .houseimg-item-delete {
  margin-left: 10px; }

#house-obj-img .houseimg-btnrow {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px; }
  #house-obj-img .houseimg-btnrow .btn {
    padding: 8px; }
    #house-obj-img .houseimg-btnrow .btn:first-child {
      background-color: #0050E6;
      color: #FFF; }
    #house-obj-img .houseimg-btnrow .btn:last-child {
      border-color: #0050E6;
      background-color: #F3F3F3;
      color: #0050E6;
      margin-left: 20px; }

#house-obj-img .edit-houseimg-name {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 10px; }
  #house-obj-img .edit-houseimg-name .edit-check, #house-obj-img .edit-houseimg-name .edit-close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #808080;
    margin: 0 5px;
    -webkit-transition: color .25s;
    transition: color .25s; }
  #house-obj-img .edit-houseimg-name .edit-check {
    padding-top: 8px; }
  #house-obj-img .edit-houseimg-name input {
    text-align: left;
    width: calc(100% - 50px);
    margin-right: 5px; }
  #house-obj-img .edit-houseimg-name.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media screen and (min-width: 1200px) {
  #house-obj-img > * {
    margin: 20px 30px; }
  #house-obj-img .houseimg-btnrow .btn:first-child:hover, #house-obj-img .houseimg-btnrow .btn:last-child:hover {
    background-color: #DDD;
    border-color: #DDD;
    color: #404040; } }

@media screen and (min-width: 992px) {
  #house-obj-img .edit-houseimg-name .edit-check:hover {
    color: #018E5A; }
  #house-obj-img .edit-houseimg-name .edit-close:hover {
    color: #222222; } }

@media screen and (max-width: 766px) {
  #house-obj-img {
    padding: 30px 20px; }
    #house-obj-img .houseimg-itemRow {
      margin: 0;
      width: 100%; }
    #house-obj-img .houseimg-btnrow {
      font-size: 15px; }
      #house-obj-img .houseimg-btnrow .btn {
        width: 50%;
        padding: 5px; }
        #house-obj-img .houseimg-btnrow .btn i {
          display: none; } }

#searchimg-pop {
  border-radius: 10px; }
  #searchimg-pop .houseimg-item {
    cursor: pointer;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    border: 1px solid transparent;
    -webkit-transition: border 0.25s ease-in-out;
    transition: border 0.25s ease-in-out; }
    #searchimg-pop .houseimg-item .check {
      opacity: 0;
      visibility: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 40px;
      color: #0050E6;
      background-color: #fff;
      position: absolute;
      top: -8px;
      right: -8px;
      -webkit-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out; }
    #searchimg-pop .houseimg-item.active {
      border-color: #0050E6; }
      #searchimg-pop .houseimg-item.active .check {
        opacity: 1;
        visibility: visible; }
  @media screen and (min-width: 1200px) {
    #searchimg-pop {
      width: 50%; }
      #searchimg-pop .houseimg-item:hover {
        border-color: rgba(0, 80, 230, 0.5); } }
  @media screen and (max-width: 1199px) {
    #searchimg-pop {
      width: 90%; } }

.upload-img {
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-color: rgba(235, 240, 255, 0.35);
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden; }
  .upload-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.has-iconInput textarea {
  height: 100%;
  border: none; }

#saveasfile-pop, #openfile-pop, #upload-pop {
  min-height: auto; }
  @media screen and (max-width: 766px) {
    #saveasfile-pop .houseinfo-head .d-flex, #openfile-pop .houseinfo-head .d-flex, #upload-pop .houseinfo-head .d-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

#houseinfo-report_btn {
  top: 146px;
  right: 254px;
  margin-bottom: 0; }
  @media screen and (min-width: 1681px) {
    #houseinfo-report_btn {
      right: 236px; } }
  @media screen and (max-width: 1680px) {
    #houseinfo-report_btn {
      right: 206px; } }
  @media screen and (max-width: 1440px) {
    #houseinfo-report_btn {
      top: 128px; } }
  @media screen and (min-width: 1200px) {
    #houseinfo-report_btn {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      color: #FFF !important;
      background-color: #FF9D03 !important;
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: row !important;
              flex-direction: row !important;
      width: auto !important;
      height: 40px !important;
      border: none !important;
      border-radius: 0 !important;
      position: fixed;
      padding: 0 10px; }
      #houseinfo-report_btn i {
        margin-right: 5px;
        margin-top: -4px; }
      #houseinfo-report_btn span {
        font-size: 15px !important; }
      #houseinfo-report_btn:hover {
        color: #FFF !important; } }
  @media screen and (max-width: 1199px) {
    #houseinfo-report_btn {
      padding: 5px;
      text-align: center;
      background-color: #FF9D03 !important;
      border-color: #FF9D03 !important;
      color: #FFF !important;
      line-height: 1.3; }
      #houseinfo-report_btn i {
        display: none !important;
        margin: 0; } }
  @media screen and (max-width: 766px) {
    #houseinfo-report_btn {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      padding: 7px 10px 5px; } }
  @media screen and (max-width: 320px) {
    #houseinfo-report_btn {
      padding: 2px 3px; } }

#houseinfo-report {
  width: 100vw;
  height: 100vh;
  background-color: #F6F8F9;
  position: fixed;
  bottom: -100vh;
  left: 0;
  z-index: 9999;
  padding: 30px 20px;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: bottom 0.25s ease-in-out;
  transition: bottom 0.25s ease-in-out; }
  #houseinfo-report .close {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #808080;
    position: absolute;
    top: 30px;
    right: 30px;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
  #houseinfo-report.active {
    bottom: 0;
    opacity: 1;
    visibility: visible; }
  @media screen and (min-width: 1200px) {
    #houseinfo-report .close:hover {
      color: #0050E6; } }
  @media screen and (max-width: 1199px) {
    #houseinfo-report {
      display: block;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: 20px; }
      #houseinfo-report .close {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999; } }
